.chat {
  padding: 16px 0;
  h2 {
    margin: 24px 0;
  }
  .messages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .message {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 16px;
      gap: 8px;

      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
  .chatBox {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: rgb(152, 152, 31);

      padding: 16px;
      .user {
        display: flex;
        gap: 16px;
        align-items: center;
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }
      button {
        padding: 8px;
      }
    }
    .content {
      padding: 8px 16px;
      .chatMessage {
        width: 50%;
        text-align: left;

        &.own {
          margin-left: auto;
          text-align: right;
        }
        span {
          font-size: 0.75em;
          background-color: yellow;
        }
      }
    }
    .bottom {
      display: flex;
      textarea {
        width: 100%;
      }
      button {
        padding: 0 16px;
        background-color: rgb(213, 169, 21);
      }
    }
  }
}
